  <h2>Restaurantes Internacionales</h2>
  <link rel = "stylesheet" href = "restaurante-detail.component.css">
  <div class="card-container">
    <div class="card" *ngFor="let restaurante of restaurantes; let i = index" (click)="onSelected(restaurante)">
      <div class="card-body">
        <h5 class="card-title">{{ i + 1 }}</h5>
        <p class="card-text"><strong>Nombre:</strong> {{ restaurante.name }}</p>
        <p class="card-text"><strong>Pais:</strong> {{ restaurante.country }}</p>
        <p class="card-text"><strong>Tipo:</strong> {{ restaurante.cuisine }}</p>
        <p class="card-text"><strong>Fundacion:</strong> {{ restaurante.opening_year }}</p>
      </div>
    </div>
  </div>
  
  <div id="bestRating">
    El restaurante con mejor puntuación es <span class="highlight">El Celler de Can Roca</span> y tiene <span class="highlight">5.0</span> puntos.
  </div>
  
  <hr />
  