<div *ngIf="selected">
  <app-restaurante-detail [restauranteDetail]="selectedRestaurante"></app-restaurante-detail>
</div>
<hr />

<h2>Restaurantes Internacionales</h2>
<table class="table">
  <thead>
    <link rel = "stylesheet" href = "restaurante-list.component.css">
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Pais</th>
      <th>Tipo</th>
      <th>Fundacion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let restaurante of restaurantes; let i = index">
      <td>{{ i + 1 }}</td>
      <td (click)="onSelected(restaurante)">{{ restaurante.name }}   </td>
      <td (click)="onSelected(restaurante)">{{ restaurante.country }}   </td>
      <td (click)="onSelected(restaurante)">{{ restaurante.cuisine }}   </td>
      <td (click)="onSelected(restaurante)">{{ restaurante.opening_year }}   </td>
    </tr>
    <tbody>
      <tr *ngFor="let restaurante of restaurantes; let i = index">
        <td>{{ i + 1 }}</td>
        <td (click)="onSelected(restaurante)">{{ restaurante.name }}   </td>
        <td (click)="onSelected(restaurante)">{{ restaurante.country }}   </td>
        <td (click)="onSelected(restaurante)">{{ restaurante.cuisine }}   </td>
        <td (click)="onSelected(restaurante)">{{ restaurante.opening_year }}   </td>
      </tr>
      <tbody>
        <tr *ngFor="let restaurante of restaurantes; let i = index">
          <td>{{ i + 1 }}</td>
          <td (click)="onSelected(restaurante)">{{ restaurante.name }}   </td>
          <td (click)="onSelected(restaurante)">{{ restaurante.country }}   </td>
          <td (click)="onSelected(restaurante)">{{ restaurante.cuisine }}   </td>
          <td (click)="onSelected(restaurante)">{{ restaurante.opening_year }}   </td>
        </tr>
  </tbody>
</table>

<div id="bestRating">
  El restaurante con mejor puntuación es <span class="highlight">El Celler de Can Roca</span> y tiene <span class="highlight">5.0</span> puntos.
</div>

<hr />



